# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 19
b = 19
print('a = ', a, 'b = ', b)
print('Рівні за значеннням: ', a == b)
print('id a = ', id(a), 'id b = ', id(b))
print('Посилаються на один і той самий обʼєкт: ', id(a) == id(b))

a =  19 b =  19
Рівні за значеннням:  True
id a =  132703427330864 id b =  132703427330864
Посилаються на один і той самий обʼєкт:  True

Змнні, які ми створили рівні за значеннямм = 19 та посилаються на один і той самий обʼєкт в памʼяті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
c = True
v = 9
print ('True is bool: ', isinstance(c, bool))
print ('True is int: ',isinstance(c, int))

True is bool:  True
True is int:  True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
intNum = 12
floatNum = 2.2
print('int number = ', intNum, 'float Number = ', floatNum)
print ('Додавання:', intNum + floatNum)
print ('Віднімання:', intNum - floatNum)
print ('Ділення:', intNum / floatNum)
print ('Множення:', intNum * floatNum)
print ('Ділення без залишку:', intNum // floatNum)
print ('Ділення по модулю', intNum % floatNum)
print ('Приведення до ступеню:', intNum ** floatNum)

int number =  12 float Number =  2.2
Додавання: 14.2
Віднімання: 9.8
Ділення: 5.454545454545454
Множення: 26.400000000000002
Ділення без залишку: 5.0
Ділення по модулю 0.9999999999999991
Приведення до ступеню: 236.7002634504806

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
boolNum = True
print('int number = ', intNum, 'float Number = ', floatNum, 'bool = ', boolNum)
print('float to int: ', int(floatNum))
print ('bool to int: ', int(boolNum))

int number =  12 float Number =  2.2 bool =  True
float to int:  2
bool to int:  1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ''
str2 = ""

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
str3 = 'stʼring'
str4 = r"" + str3
print(str3)
print(str4)

stʼring
stʼring

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = "Prochna"
str5 = f"My surname is {surname}"
print(str5)

My surname is Prochna

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
str6 = "My dog is crazy"
tokens = str6.lower().split(" ")
print(tokens)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = list(range(8))
print(list1, 'length is', len(list1))
print(list2, 'length is', len(list2))

[1, 2, 3, 4, 5] length is 5
[0, 1, 2, 3, 4, 5, 6, 7] length is 8

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list3 = [10, 20, 30 , 40, 50]
list4 = [61, 62, 63, 64, 65]
print('list 1: ', list3, 'list 2: ', list4)
list3.extend(list4)
print('List 1 after extending: ', list3)

list 1:  [10, 20, 30, 40, 50] list 2:  [61, 62, 63, 64, 65]
List 1 after extending:  [10, 20, 30, 40, 50, 61, 62, 63, 64, 65]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list5 = [[1, 2, 3, 4, 5], [10, 20 , 30, 40, 50], [100, 200, 300, 400, 500]]
el = list5[2][0]
print(el)

100

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list6 = ['hello', 1, 2.0, 'world', True, 10, 'a', False, 5, 4.4]
smallerList6 = list6[2:-2]
print(smallerList6)

[2.0, 'world', True, 10, 'a', False]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = (1,)
print(tuple1)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Спільне:
*   Можуть зберігати різні типи даних
*   Можна користуватись індексами
*   Завдяки індексації можна ітеритуватись за допомогою циклів

Відмінне:
*   Списки - змінюванні, а кортежі - незмінюванні
*   Списки створюються за допомогою [], а кортежі за допомогою ()

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple2 = (0.3, 1.4, 2.1, 3.4, 4.5, 5.6, 6.7, 7.2, 8.9, 9.1, 10.9)
newList = []
for i in range(len(tuple2)):
  if(i % 2 != 0):
    newList.append(tuple2[i])
newList.reverse()
tuple3 = tuple(newList)
print(tuple3)

(9.1, 7.2, 5.6, 3.4, 1.4)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
set1 = set()
set1.add(2)
set1.add(3.4)
set1.add('AA')
print(set1)

{2, 3.4, 'AA'}

Так, множини є змінюваними типами, елементи в множині можна додавати або видаляти за допомогою спецільних методів add() та remove().

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set3 = set(my_list)
print(set3)

{1, 2, 67, 8, 9}

Деякі елементи зникли, через те, що елементи в множині не можуть дублюватися

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set4 = {1, 2, 3, 4, 5}
set5 = {4, 5, 6, 7, 8}
unionSet = set4.union(set5)
differenceSet = set4.difference(set5)
intersectionSet=set4.intersection(set5)
symDiffSet = set4.symmetric_difference(set5)

print('Set 1: ', set4, 'Set 2: ', set5)
print('Union: ', unionSet)
print('Differnce: ', differenceSet)
print('Intersection: ', intersectionSet)
print('Symetric difference: ', symDiffSet)

Set 1:  {1, 2, 3, 4, 5} Set 2:  {4, 5, 6, 7, 8}
Union:  {1, 2, 3, 4, 5, 6, 7, 8}
Differnce:  {1, 2, 3}
Intersection:  {4, 5}
Symetric difference:  {1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dict1 = {}
dict1[1] = "ONE"
dict1["TWO"] = 2
dict1[3.3] = "THREE"
dict1[("f", "")] = 4
print(dict1)

{1: 'ONE', 'TWO': 2, 3.3: 'THREE', ('f', 'F'): 4}

Ключі у словнику не можуть бути списками, тому що списки змінювані. А ключі мають бути незмінюваних типів. Якщо спробувати список зробити ключем, то ми отримаємо помилку

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
dict2 = {"Nepal": "Kathmandu", "Italy": {111: "Eric", 112: "Kyle", 113: "Butters"}}
dict3 = {1: 1, 3: 9, 5: 25, 7: 49, 9: dict2}
print(dict3)
print(dict3[9]["Italy"].values())

{1: 1, 3: 9, 5: 25, 7: 49, 9: {'Nepal': 'Kathmandu', 'Italy': {111: 'Eric', 112: 'Kyle', 113: 'Butters'}}}
dict_values(['Eric', 'Kyle', 'Butters'])

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.